:host {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../../../assets/img/cover/cover2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
}