:root {
    --color-pink: #db8db4;
    --color-gray: #333333;
    --color-white: #ffffff;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Lobster", cursive;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --default-bezier: cubic-bezier(0.4, 0.1, 0.2, 1);
    --border-radius: 6px;
    --width-breakpoint: 966px;
}

// colors
$pink: #db8db4;
$gray: #333333;
$white: #ffffff;
// fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lobster", cursive;
// misc
$default-bezier: cubic-bezier(0.4, 0.1, 0.2, 1);
$width-breakpoint: 966px;
$border-radius: 6px;
$default-border: solid 1px rgba(#333, 0.3);
