:host {
    --light-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .4);
    height: 6rem;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 99;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, .3);
}

.brand {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    min-width: 25%;
}

.logo {
    max-width: 3.5rem;
}

.logo-text {
    font-size: 3rem;
    font-family: var(--secondary-font);
    font-style: italic;
    color: var(--accent);
}

.hamburger {
    cursor: pointer;
    margin-left: auto;
}

.hamburger .line {
    height: 5px;
    margin: 5px;
    width: 30px;
    background: var(--primary-text);
    transition: opacity .3s, transform .3s;
}

.hamburger.active .line {
    background: var(--accent);
}

.hamburger.active .line:first-child {
    -webkit-transform: rotate(315deg) translate(-7px, 6px);
    transform: rotate(315deg) translate(-7px, 6px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:last-child {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-links {
    position: fixed;
    top: 6rem;
    right: 0;
    text-align: end;
    padding: 0 1.5rem 0 3rem;
    line-height: 4;
    outline: solid 1px transparent;
    background: white;
    overflow: hidden;
    height: 0;
    transition: height .3s;
    background: white;
    font-size: 1.1rem;
}

.nav-links.active {
    height: calc(100vh - 6rem);
}

.nav-links .ng-fa-icon {
    /* display: initial;
    margin-left: .5rem; */
    display: none;
}

.nav-link {
    outline: none;
    cursor: pointer;
    transition: color .3s;
}

.nav-link.active {
    color: var(--accent);
}

.section-progress {
    display: none;
}

@media screen and (min-width: 966px) {
    .hamburger {
        display: none;
    }
    .nav-links {
        background: transparent;
        line-height: 2;
        position: relative;
        text-align: start;
        display: flex;
        top: 0;
        width: 100%;
        padding: 0;
        overflow: visible;
    }
    .nav-links .ng-fa-icon {
        display: none;
    }
    .nav-links, .nav-links.active {
        height: initial;
    }
    .section-progress {
        position: absolute;
        left: -.6rem;
        bottom: 0;
        transition: width .3s;
        background: var(--accent);
        height: 100%;
        display: block;
        z-index: -1;
        border-radius: 6px;
        box-shadow: var(--light-shadow);
    }
    .nav-link {
        margin-right: 4rem;
    }
    .nav-link.active {
        color: white;
    }
    .register {
        margin: 0 0 0 auto;
        border: solid 1px var(--accent);
        color: var(--accent);
        padding: 0 .5rem;
        border-radius: 6px;
        background: linear-gradient(to right, var(--accent) 50%, white 50%);
        background-size: 201% 100%;
        background-position: 100% 0;
        transition: background-position .3s, color .3s;
        box-shadow: var(--light-shadow);
    }
    .register:hover, .register.active {
        color: white;
        background-position: 0 0;
    }
}