@use "../0-base/constants" as c;

.card {
    margin: var(--space-md);

    &.light {
        color: var(--color-white);
    }
    &.center {
        align-items: center;
        text-align: center;

        & .card-body,
        .card-footer {
            justify-content: center;
        }
    }

    &-header {
        margin: var(--space-sm);
    }
    &-body {
        @extend .pancake;
        margin-bottom: var(--space-sm);

        &-item {
            margin: var(--space-sm);
            max-width: 45ch;
            flex: 1 1 45ch;

            &-title {
                margin-bottom: var(--space-xs);
            }
            &-content {
                &.indent {
                    padding-left: var(--space-sm);
                    // border-left: solid 1px;
                    border-left: solid 1px rgba(c.$pink, 0.8);
                }
            }
        }
    }
    &-footer {
        @extend .pancake;
        margin: var(--space-sm);

        & > * {
            margin: var(--space-xs);
        }
    }
}

.pancake {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex: 1 1 1;
    }
}
