@use "../0-base/constants" as c;

.menu {
    position: fixed;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    left: -30rem;
    width: 21rem;
    transition: left 0.9s var(--default-bezier);
    background: white;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    z-index: 999;
    outline: solid 1px transparent;
    border-right: c.$default-border;

    &.active {
        left: 0;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: var(--space-lg);
    }

    &-close {
        font-size: 4rem;
        color: var(--color-pink);
        transition: color 0.3s, transform 0.6s;
        cursor: pointer;
        line-height: 0;

        &:hover {
            color: var(--color-gray);
            transform: rotate(270deg);
        }
    }

    &-links {
        margin-bottom: 1rem;
        margin: auto 0;
        // border-bottom: c.$default-border;
        // border-top: c.$default-border;
        // padding-top: 1rem;
    }

    &-link {
        margin-bottom: 1rem;
        cursor: pointer;
        transition: color 0.3s, border 0.3s, padding 0.3s;
        transition-timing-function: ease;
        transition-delay: 0.1s;
        border-left: solid 0rem transparent;
        padding-left: 0rem;

        & h4 {
            letter-spacing: -0.2rem;
        }

        &.active {
            color: #808080;
        }

        &:hover:not(.active) {
            color: #808080;
            border-left: solid 0.5rem var(--color-pink);
            padding-left: 1rem;
        }
    }

    &-register-link {
        letter-spacing: -2px;
        transition: color 0.3s, border 0.3s, padding 0.3s;
        transition-delay: 0.1s;
        border-left: solid 0px transparent;
        padding-left: 0rem;
        cursor: pointer;
        margin-top: var(--space-sm);

        &.active {
            padding-left: 1rem;
            border-left: solid 0.5rem var(--color-pink);
        }

        &:hover:not(.active) {
            border-left: solid 0.5rem var(--color-pink);
            padding-left: 1rem;
        }
    }

    &-socials {
        margin-top: auto;

        p {
            letter-spacing: -1px;
            // margin-bottom: 1rem;
        }

        li {
            display: flex;
            align-items: center;
        }

        .fas,
        .fab {
            margin-right: 1rem;
        }
    }
}
