:host {
    display: block;
    margin-top: 6rem;
    min-height: calc(100vh - 6rem);
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

:host>* {
    opacity: .4;
    min-height: 100%;
    color: white;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.home {
    background: rgb(255, 165, 0);
}

.wellness {
    background: rgb(128, 0, 128);
}

.about-us {
    background: rgb(0, 128, 0);
}

.active {
    opacity: .7;
}